################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/YoutubeProject/Library
/YoutubeProject/Logs
/YoutubeProject/obj/Debug
/YoutubeProject/Packages
/YoutubeProject/Temp
